<!DOCTYPE html>
<html lang="en" ng-app="firstApp">

<head>
  <title>TheNetNinja Angular Playlist</title>
  <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
  <script src="app/lib/angular.min.js"></script>
  <script src="app/app.js"></script>
</head>

<body
  ng-Init="directives=[{name: 'ng-app', description: 'app module tells Angular to bootstrap the application'}, {name: 'ng-Init', description: 'initializes the Angular application, and evaluates the expression'}, {name: 'ng-repeat', description: 'repeats HTML elements for each item in a collection'}, {name: 'ng-model', description: 'binds the value of HTML controls to application data. Like text inputs'}]; color='blue'">
  <h1>Directives</h1>
  <input type="text" placeholder="Enter your name" ng-model="name">
  <p>Hello {{name}} </p>
  <ol style="width:fit-content">
    <!-- this repeats the list items (directives) -->
    <li ng-repeat="directive in directives" style="margin: 5px; padding: 2px;">
      <span class="{{color}}">{{directive.name}}</span> {{directive.description}}
    </li>

  </ol>
</body>

</html>