<!DOCTYPE html>
<html lang="en" ng-app="firstApp">

<head>
  <title>TheNetNinja Angular Playlist</title>
  <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
  <script src="app/lib/angular.min.js"></script>
  <script src="app/app.js"></script>
</head>

<body ng-Init="color='blue'">
  <h1>Directives</h1>
  <input type="text" placeholder="Enter your name" ng-model="name">
  <p>Hello {{name}} </p>

  <!-- the controller is applicaple for scope of the ol -->
  <ol style="width:fit-content" ng-controller="firstController">
    <!-- this repeats the list items (directives) -->
    <li ng-repeat="directive in directives" style="margin: 5px; padding: 2px;">
      <span class="{{color}}">{{directive.name}}</span> {{directive.description}}
    </li>
    <li>name: {{name}} </li>
  </ol>

</body>

</html>