<h1>Directives</h1>
<!-- the controller is applicaple for scope of the ol -->
<ol style="width:fit-content">
    <!-- this repeats the list items (directives) -->
    <!-- we can filter the list items using the filter directive -->
    <input type="text" placeholder="Filter directives" ng-model="search" style="margin-bottom: 10px; padding: 5px; border-radius: 6px;">
    <!-- we can also order the list items using the orderBy directive -->
    <!-- we can also use the color variable to change the color of the directive name -->
    <li ng-repeat="directive in directives | filter:search | orderBy:'description'" style="margin: 5px; padding: 2px;">
        <span class="{{color}}">{{directive.name}}</span> {{directive.description}}
    </li>
</ol>